[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TSRchitect"]
	path = TSRchitect
	url = https://github.com/brendelgroup/tsrchitect
	shallow = true
	registered = true
